html, body {
  margin: 0;
  padding: 0;
}
body {
  text-align: center;
}
body, input, button { 
  font-size: 14px;
  font-family: Helvetica, Arial, sans-serif;
  color: #444;
}
.chat { 
  position: fixed; 
  bottom: 0; 
  width: 100%; 
}
.container, .chat {
  width: 99%;
  text-align: center;
  background-color: #222;
  padding: 0.5%;
  font-size: 0;
}
form input { 
  border: 0; 
  padding: 1%; 
  width: 78%; 
}
form button { 
  width: 18%; 
  background-color: #444;
  color: white;
  border: none; 
  padding: 1%; 
}
#messages { 
  list-style-type: none; 
  margin: 0 0 100px 0; 
  padding: 0; 
}
#messages li { 
  padding: 5px 10px; 
}
#messages li:nth-child(odd) { 
  background: #eee; 
}

